@import url('https://fonts.googleapis.com/css2?family=Kavivanar&family=Noto+Serif+Hentaigana:wght@200..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

:root{
  --color-theme-background-color : #E17564 ;
  --color-theme-main-color: #BE3144;
  --color-theme-sub-text-color: whitesmoke;
  --color-theme-nav-background-color : #09122C;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html{
  font-size: 60%;
  height: 100vh;
}

body{
  background: var(--color-theme-background-color);
  height: 100vh;
}
#root{
  height: 100vh;
}